@import ../../styles/common

page
  background-color: lighten($black, 95%)
.index-wrapper
  display: flex
  flex-direction: column
  height: 100vh

  .preview-wrapper
    display: flex
    justify-content: center
    align-items: center

  .actions-wrapper
    display: flex
    padding: 5rpx
    background-color: $white

  .canvas-container
    display: flex
    width: 100%
    flex: 1
    flex-direction: column

    .canvas
      background-color: $white
      width: 100%
      flex: 1

  .btns-wrapper
    position: relative
    right: 0
    bottom: 0
    display: flex
    align-items: center
    color: $white
    justify-content: space-around
    width: 100%
    height: 90rpx
    background-color: $orange
    transition: .3s
    // border-top-left-radius: 70rpx
    // border-bottom-left-radius: 70rpx
    box-shadow: shadow(2)

    &.hidden
      transform: translateX(80%)

    &.show
      transform: translateX(0)

    .dir-btn
      padding: 10rpx
      font-size: 60rpx

    .btn-view
      padding: 10rpx
      background-color: $orange
      color: $white
      border-radius: 10rpx
      transition: .2s
      margin: 0
      text-shadow: 1px 1px 3px transparentize($black, .9)

      .fa
        font-size: 40rpx

    .hover-btn
      box-shadow: shadow(1)

.selecter
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, .5)
  left: 0
  top: 0
  transition: opacity .3s

  .mask
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  .selector-wrapper
    position: absolute
    border-radius: 20rpx
    left: 50%
    top: 50%
    width: 80%
    height: 60%
    transform: translate(-50%, -50%)
    border-radius: 20rpx
    background-color: $white

  .selecter-color
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0
    overflow-y: scroll

    .selecter-item
      padding: 40rpx
      display: flex
      border-radius: 6rpx
      align-items: center
      justify-content: space-between
      transition: .2s all

      &.selected
        background-color: darken($white, 15%)

      .color-dot
        width: 40rpx
        height: 40rpx
        border-radius: 20rpx

    .hover-item
      background-color: darken($white, 10%)
